<div class="contacts-container">
    <mat-tab-group mat-stretch-tabs class="tabs-group">
        <!--Tab Chats-->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">message</mat-icon>
                Chats
            </ng-template>
            <!-- FILTRO DE BUSQUEDA -->
            <form [formGroup]="searchMessagesForm">
                <mat-form-field appearance="outline" class="search-item">
                    <mat-icon matPrefix matListIcon>search</mat-icon>
                    <input matInput formControlName="filter" (blur)="searchMessagesForm.reset()" placeholder="Buscar mensajes"
                        (keyup.enter)="filterMessagesOnChat(searchMessagesForm)">
                </mat-form-field>
            </form>
            <!-- COLA DE MENSAJES -->
            <div class="list-chat">
                <mat-list>
                    <mat-list-item *ngFor="let chat of chats" [ngClass]="{'active': isContactActive(chat)}" (click)="selectChat(chat)"
                        [hidden]="!chat.lastMessage">
                        <mat-icon matListIcon>message</mat-icon>
                        <div matLine>{{chat.name}}</div>
                        <div matLine>{{chat.lastMessage['text']}}</div>
                        <div matLine align="end">{{chat.lastMessage.timestamp | fromNow}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
        <!--Tab Contacts-->
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">contacts</mat-icon>
                Contactos
            </ng-template>
            <!-- FILTRO DE BUSQUEDA -->
            <form [formGroup]="searchContactsForm">
                <mat-form-field appearance="outline" class="search-item">
                    <mat-icon matPrefix matListIcon>search</mat-icon>
                    <input matInput formControlName="filter" (blur)="searchContactsForm.reset()" placeholder="Buscar contactos"
                        (keyup.enter)="filterMessagesOnChat(searchContactsForm)">
                </mat-form-field>
            </form>
            <!--Crear Grupo-->
            <div *ngIf="contactsGroup.length > 0">
                <mat-chip-list>
                    <mat-chip *ngFor="let contact of contactsGroup; let i = index" [attr.data-index]="i">
                        <div matLine>{{contact.id}}</div>
                        <mat-icon (click)="deleteContactGroup(i)">close</mat-icon>
                    </mat-chip>
                </mat-chip-list>
                <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <button mat-raised-button color="primary">Crear Grupo</button>
                    <button mat-raised-button color="accent" (click)="cancelGroup()">Cancelar</button>
                </div>
            </div>
            <!-- LISTADO DE CONTACTOS -->
            <div class="list-contacts">
                <mat-list *ngIf="!optionGroup">
                    <mat-list-item (click)="createGroup()">
                        <mat-icon matListIcon>group</mat-icon>Nuevo Grupo
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let contact of contacts" (click)="selectChat(null, contact)">
                        <mat-icon matListIcon>account_circle</mat-icon>
                        <div matLine>{{contact.name}} {{contact.address}}</div>
                    </mat-list-item>
                </mat-list>
                <mat-list *ngIf="optionGroup">
                    <mat-list-item (click)="createGroup()" *ngIf="optionGroupShow || contactsGroup.length > 0">
                        <mat-icon matListIcon>group</mat-icon>Nuevo Grupo
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngFor="let contact of contacts" (click)="addContactGroup(contact)" [hidden]="isContactGroupSelected(contact)">
                        <mat-icon matListIcon>account_circle</mat-icon>
                        <div matLine>{{contact.name}} {{contact.address}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>