<div class="window-dashboard" fxLayout='column' fxLayoutAlign="space-around stretch">
  <div fxFlex='20'>
    <h2>Chat interno</h2>
  </div>

  <div fxFlex='70'>
    
  </div>

  <div fxFlex='10'>
    <div class="input-message" fxLayout="row wrap">
      <mat-form-field fxFlex="80">
        <input matInput placeholder="Escribe tu mensaje">
      </mat-form-field>
      <span class="send-btn" fxFlex="20">
        <button mat-raised-button color="primary">Enviar</button>
      </span>
    </div>
  </div>
</div>