/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
@import '~@angular/material/theming';

.mat-dialog-container {
    padding: 0 !important;
}

[hidden] { display: none !important;}